@import "frappe.css";

* {
    border: none;
    border-radius: 5px;
    font-family: JetBrainsMono Nerd Font;
    font-weight: 600;
    font-size: 13px;
    min-height: 0;
    box-shadow: none;
}

window#waybar {
    background-color: transparent;
    color: @text;
}

.modules-lefts,
.modules-center,
.modules-right {
    background-color: @surface0;
    margin: 2px;
    border-radius: 5px;
}

#workspaces {
    background-color: @surface0;
    margin: 2px;
}

#workspaces button {
    color: @text;
}

#workspaces button.focused {
    border-bottom: 3px solid @blue;
}

#workspaces button.active {
    border-bottom: 3px solid @blue;
}

#workspaces button.hover {
    border-bottom: 3px solid @yellow;
}

#workspaces button.urgent {
    border-bottom: 3px solid @red;
}

#window {
    background-color: @surface0;
    margin: 2px;
    border-radius: 5px;
}

#idle_inhibitor {
    padding: 0 10px;
    background-color: @surface0;
}

#idle_inhibitor.activated {
    border-bottom: 3px solid @blue;
}

#custom-nvidia {
    margin: 2px;
}

menu {
    border-radius: 15px;
    background: shade(@crust, 0.9);
}

menuitem {
    border-radius: 15px;
}

#clock,
#cpu,
#memory,
#network,
#temperature,
#tray {
    background-color: @surface0;
}

#network.disconnected,
#temperature.critical {
    background-color: @red;
}

#tray>.passive {
    -gtk-icon-effect: dim;
}

#tray>.needs-attention {
    -gtk-icon-effect: highlight;
    background-color: @yellow;
}

#keyboard-state {
    background: @surface0;
    padding: 0 0px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state>label {
    padding: 0 5px;
}

#keyboard-state>label.locked {
    color: @yellow;
}

#privacy {
    padding: 0;
}

#privacy-item {
    padding: 0 5px;
}

#privacy-item.screenshare,
#privacy-item.audio-in,
#privacy-item.audio-out {
    background-color: @red;
}